
.texts-container{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.messages-header{
  font-size: 2rem;
  margin: 1rem;
}

.sub-header{
  display: flex;
  flex-direction: row;
  display: block;
}

.messages-subheader{
  margin: 1rem
}

.show-all{
  position: absolute;
  right: 1rem;
  top: 4rem
}

.chats-container{
  width: 100%;
  height: 100%;
}

.chat{
  border-style: solid;
  border-color: grey;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  color: black;
}

.contact-img{
  height: 3rem;
  border-radius: 50%;
  margin: 1rem
}

.chat-subdiv{
  display:flex;
  flex-direction: column;
}

.contact-name{
  font-weight: bold;
  margin-bottom: 0;
  text-decoration: none;
}

.last-message{
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
}

.timestamp-div{
  position: absolute;
  right: 2.5rem;
  width: 3rem;
  height: 5rem;
}

.timestamp{
  
}