.user-container{
  width: 100vw;
  height: 100vh;
  padding-left: 5rem;
  overflow-y: auto;
}

.user-header{
width: 100%;
height: 3rem;
top: 0;
flex-shrink: 0;
}

.user-back-arrow{
width: 2rem;
margin: 1rem;
}

.user-profile-container{
  width: 100%;
  height: 8rem;
  flex-shrink:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-image-container{

width: 360px;
height: 15vh;
display: flex;
justify-content: center;
align-items: center;
}

.user-profile-picture{
  display: block;
  height: 100%;
  border-radius: 50%;
}

.u-user-name-container{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.u-user-name{
  margin-top: 0;
}

.u-user-stats{
padding-left: 4rem;
width: 100%;
display:flex;
flex-direction: row;
justify-content:center;
align-items: center;
justify-content: space-evenly;
}

.u-user-stat{
  font-size: 0.8rem;
}

.u-description-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.u-user-description{
  margin-top: 0;
}

.u-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.u-button{
  background-color: var(--primary-color);
}

.u-portfolio-header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-created{
  margin-right: 1rem;
}

.user-saved{
  margin-left: 1rem;
}

.u-collages-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 10rem);
}

/*.u-collage-row{
  display: flex;
  flex-direction: row;
}