.create-post-container{
  width: 100%;
  height:100%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.cr-header{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cr-content-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cr-upload{
  height: 50vh;
  width: 100%;
  background-color: rgb(197, 197, 197);
  margin: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cr-upload-arrow{
  width: 2rem;
}

.cr-upload-form{
  margin: 4rem;
  margin-left: 6rem;
  width: 70%;
}

.cr-title-input{
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
}

.cr-description-input{
  width: 80%;
  height: 5rem;
  border-radius: 1rem;
}

.cr-link-input{
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
}

.cr-board-input{
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
}

.cr-tag-input{
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
}