
.home-container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  margin-left: 1rem
}

.home-header{
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items:start;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.h-searchbar{
  margin: 1.5rem;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  background-color: rgb(233, 233, 233);
}

.h-login-icon-container{
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-login-icon{
  width: 3rem;
  height: 3rem;
  background-color: green;
  border-radius: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}


.h-capital-letter{
  font-size: 1.5rem;
  color: white;
}

.home-content-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.h-logout{
  width: 8rem;
  height: 5rem;
  background-color: rgb(233, 233, 233);
  position: absolute;
  top: 60px;
  right: 105px;
  border-top-left-radius:1rem ;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.h-logout-text{
  margin-left:2rem;
  font-weight: bold;
}

.h-masonry-grid{
  width: auto;
  height: 100%;
  margin: 1rem;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.home-image { /* change div to reference your elements you put in <Masonry> */
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 5px;
  display: block;
}